@if(showCookies){
  <div class="cookie-container">
      <div class="cookie-context">
          <p>Nosso site utiliza cookies para te proporcionar uma melhor experiência. Ao acessar o site da VOLXYSEAT,
              você
              concorda com a nossa <span>Política de Privacidade</span> e <span>Cookies</span></p>
          <button class="btn-accept" (click)="acceptCookies()">Concordar</button>
          <button class="btn-decline" (click)="declineCookies()">Recusar</button>
      </div>
  </div>
}
