<app-header></app-header>
<div class="flex h-screen bg-gray-100">
<app-dashboard></app-dashboard>

  <main class="flex-1 p-8">
    <div class="mb-8 flex items-center justify-between">
      <h2 class="text-3xl font-bold text-orange-500 uppercase">Perfil do Usuário</h2>
    </div>

    <div class="grid gap-8 md:grid-cols-2">
      <div class="rounded-lg bg-white p-6 shadow-md">
        <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">Informações Pessoais</h3>
        <form class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-600" for="name">Nome</label>
            <input class="mt-1 w-full rounded-md border-gray-300 shadow-sm" id="name" type="text" value={{username}}
              [disabled]="true" />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-600" for="email">Email</label>
            <input class="mt-1 w-full rounded-md border-gray-300 shadow-sm" id="email" type="email" value={{email}}
              [disabled]="true" />
          </div>
          <!-- <button
            class="px-4 py-2 uppercase font-bold text-white bg-orange-500 hover:bg-orange-700 rounded-lg shadow-md transition"
            aria-label="Editar perfil">
            Editar Perfil
          </button> -->
        </form>
      </div>

      <div *ngIf="!subscription && !isLoading && !error" class="flex text-center justify-center text-gray-600">
        <p class="flex justify-center items-center">Sem plano disponível</p>
      </div>

      <div *ngIf="isLoading" class="text-center">
        <p>Carregando...</p>
      </div>

      <div *ngIf="!isLoading && error" class="text-center text-red-500">
        <p>{{ error }}</p>
      </div>

      <div *ngIf="!isLoading && !error && subscription" class="rounded-lg bg-white p-6 shadow-md">
        <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">
          Gerenciamento de Assinatura
        </h3>
        <div class="flex flex-col gap-1">
          <p class="text-sm font-medium text-gray-600">Plano</p>
          <p class="text-lg font-semibold text-gray-800">{{ subscriptionEnumToString(subscription.type) }}</p>
          <p class="text-sm font-medium text-gray-600">Descrição do Plano</p>
          <p class="text-lg font-semibold text-gray-800">{{ subscription.description }}</p>
          <p class="text-sm font-medium text-gray-600">Preço</p>
          <p class="text-lg font-semibold text-gray-800">{{ subscription.price | currency:'BRL' }}</p>
        </div>
        <div class="pt-2">
          <button
            class="px-4 py-2 border uppercase font-bold border-red-500 text-red-500 hover:bg-red-600 hover:text-white rounded-lg shadow-md transition"
            aria-label="Cancelar assinatura"
            (click)="cancelConfirm()">
            CANCELAR
          </button>
        </div>
      </div>

      <div class="rounded-lg bg-white p-6 shadow-md md:col-span-2">
        <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">Histórico de Compras</h3>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-orange-50">
                <th class="px-6 py-3 uppercase font-bold text-left text-sm text-orange-500">Data</th>
                <th class="px-6 py-3 uppercase font-bold text-left text-sm text-orange-500">Plano</th>
                <th class="px-6 py-3 uppercase font-bold text-left text-sm text-orange-500">Valor</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">June 1, 2023</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">Pro Plan</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">$29.99</td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">May 1, 2023</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">Pro Plan</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">$29.99</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>