<app-header></app-header>

<div class="flex h-screen bg-gray-100">
    <app-dashboard></app-dashboard>

    <main class="flex-1 p-4">
        <div class="mb-8 flex items-center justify-between">
            <h2 class="text-3xl font-bold text-orange-500 uppercase">Perfil do Administrador</h2>
        </div>

        <div class="grid gap-8 md:grid-cols-2">
            <div>
                <div class="rounded-lg bg-white shadow-md p-4 flex-1 flex-col">

                    @if(selectedSubscription.id == ''){
                    <div class="flex items-center justify-center p-4">
                        <p class="text-lg font-semibold text-gray-600">Selecione um plano à direita para editar suas
                            informações.</p>
                    </div>
                    }
                    @else{
                    <form class="space-y-4" [formGroup]="subscriptionForm">
                        <!-- Tipo -->
                        <div>
                            <label class="block text-sm font-medium text-gray-600" for="subscription-type">Tipo</label>
                            <select
                                class="block w-full px-4 py-2 pr-8 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 appearance-none cursor-pointer hover:border-gray-400 transition-colors duration-200"
                                id="subscription-type" formControlName="type" name="subscription-type">
                                <option *ngFor="let type of subscriptionTypes" [value]=type>
                                    {{ subscriptionEnumToString(type) }}
                                </option>
                            </select>
                        </div>

                        <!-- Preço -->
                        <div>
                            <label class="block text-sm font-medium text-gray-600" for="price">Preço</label>
                            <input formControlName="price"
                                class="block w-full px-4 py-2 pr-8 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 appearance-none cursor-pointer hover:border-gray-400 transition-colors duration-200"
                                id="price" type="number" placeholder="0.00" name="price" />
                        </div>

                        <!-- Descrição -->
                        <div>
                            <label class="block text-sm font-medium text-gray-600" for="description">Descrição</label>
                            <input formControlName="description"
                                class="block w-full px-4 py-2 pr-8 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 appearance-none cursor-pointer hover:border-gray-400 transition-colors duration-200"
                                id="description" placeholder="Digite a descrição" name="description" />
                        </div>

                        <!-- Mercado Pago Plain ID -->
                        <div>
                            <label class="block text-sm font-medium text-gray-600" for="mercado-pago-plain-id">Mercado
                                Pago
                                Plain ID</label>
                            <input formControlName="mercadoPagoPlanId"
                                class="block w-full px-4 py-2 pr-8 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 appearance-none cursor-pointer hover:border-gray-400 transition-colors duration-200"
                                id="mercado-pago-plain-id" type="text" placeholder="Digite o ID"
                                name="mercado-pago-plain-id" />
                        </div>

                        <!-- Status -->
                        <div>
                            <label class="block text-sm font-medium text-gray-600" for="status">Status</label>
                            <select
                                class="block w-full px-4 py-2 pr-8 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 appearance-none cursor-pointer hover:border-gray-400 transition-colors duration-200"
                                id="status" formControlName="status" name="status">
                                <option [value]=SubscriptionStatus.Active>Ativo</option>
                                <option [value]=SubscriptionStatus.Inactive>Inativo</option>
                            </select>
                        </div>

                        <!-- Propriedades -->
                         <form [formGroup]="subscriptionPropertiesForm">
                        <div>
                            <div class="flex gap-8 items-center justify-center">
                                <button *ngFor="let category of categories" (click)="setSelectedCategory(category.name)"
                                    [ngClass]="{
          'default': selectedCategory === category.name,
          'ghost': selectedCategory !== category.name
        }" class="flex items-center justify-start relative group dark:md:hover:text-orange-600 hover:font-bold transition-transform duration-300 ease-in-out transform hover:scale-105">
                                    {{ category.name }}
                                    <span
                                        class="absolute bottom-0 max-w-[50%] left-0 w-0 h-[2px] bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                                </button>
                            </div>

                            <div class="bg-orange-50 p-4 rounded-lg">
                                <h3 class="font-bold text-orange-500 uppercase mb-4">
                                    {{ selectedCategory }}
                                </h3>
                                <div class="transition-opacity duration-500 ease-in-out"
                                    [ngClass]="{ 'opacity-0': isTransitioning, 'opacity-100': !isTransitioning }">
                                    <div *ngFor="let property of getPropertiesForCategory()"
                                        class="grid grid-cols-5 gap-6 py-2 border-t border-white items-center">
                                        <div class="col-span-1">{{ property.name }}</div>
                                        <div class="flex justify-center items-center">
                                            <div class="flex items-center justify-center">
                                                <input type="checkbox" formControlName="{{ property.key }}"
                                                    [checked]="selectedSubscription.subscriptionProperties[property.key]"
                                                    class="w-6 h-6 rounded-full border-2 border-gray-300 checked:bg-orange-500 checked:border-orange-500 focus:ring-2 focus:ring-orange-300"
                                                    (change)="onSubscriptionPropertyChange(property.key, $event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </form>

                        <!-- Botão Salvar -->
                        <button
                            class="bg-[#F97316] hover:bg-[#EA580C] w-full mt-4 text-white py-2 rounded-lg uppercase font-bold"
                            (click)="saveEditedSubscription(selectedSubscription.id)" type="button">
                            Salvar Assinatura
                        </button>

                    </form>
                    }
                </div>
            </div>

            <div class="rounded-lg bg-white p-6 shadow-md">
                <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">PLANOS EXISTENTES</h3>
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr class="bg-orange-50">
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Tipo</th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Descrição
                                </th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Desconto
                                </th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            @for (subscription of subscriptions; track subscription.id) {
                            <tr>
                                <td class="px-6 py-4 text-sm text-gray-700">{{
                                    subscriptionEnumToString(subscription.type) }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700">{{ subscription.description }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700">R{{ subscription.price | currency }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700 gap-2 flex">
                                    <button class="p-2 uppercase bg-orange-500 text-white text-sm rounded-lg font-bold"
                                        (click)="updateForm(subscription.id)">Editar</button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer></app-footer>
