<app-header></app-header>

<div class="flex h-screen bg-gray-100">
    <app-dashboard></app-dashboard>

    <main class="flex-1 p-8">
        <div class="mb-8 flex items-center justify-between">
            <h2 class="text-3xl font-bold text-orange-500 uppercase">Perfil do Administrador</h2>
        </div>

        <div class="grid gap-8 md:grid-cols-2">
            <!-- New Subscription Form -->
            <div class="rounded-lg bg-white p-6 shadow-md">
                <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">Nova Assinatura</h3>
                <form class="space-y-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-600" for="subscription-name">Nome da
                            Assinatura</label>
                        <input class="mt-1 w-full rounded-md border-gray-300 shadow-sm" id="subscription-name"
                            type="text" placeholder="Digite o nome da assinatura" />
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-600" for="price">Preço</label>
                        <input class="mt-1 w-full rounded-md border-gray-300 shadow-sm" id="price" type="number"
                            placeholder="0.00" />
                    </div>

                    <div class="relative">
                        <label class="text-sm text-gray-600">Tipo</label>
                        <div (click)="toggleTypeDropdown()"
                            class="w-full border border-gray-300 rounded-lg px-4 py-2 cursor-pointer flex justify-between items-center">
                            <span>{{ selectedType ? subscriptionEnumToString(selectedType) : 'Selecione o tipo'
                                }}</span>
                            <i class="pi pi-chevron-down text-gray-600"></i>
                        </div>
                        <div *ngIf="showTypeDropdown"
                            class="absolute z-10 w-full bg-white border border-gray-300 rounded-lg mt-2 shadow-lg">
                            <div *ngFor="let type of subscriptionTypes" (click)="selectType(type)"
                                class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                {{ subscriptionEnumToString(type) }}
                            </div>
                        </div>
                    </div>

                    <button class="bg-[#F97316] hover:bg-[#EA580C] w-full mt-4 text-white py-2 rounded-lg">Adicionar
                        Assinatura</button>
                </form>
            </div>

            <div>
                <div class="rounded-lg bg-white p-6 shadow-md">
                    <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">Cupons #EM DESENVOLVIMENTO</h3>
                    <div class="overflow-x-auto">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr class="bg-orange-50">
                                    <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Tipo
                                    </th>
                                    <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">
                                        Descrição
                                    </th>
                                    <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Desconto
                                    </th>
                                    <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                <tr *ngFor="let subscription of subscriptions">
                                    <td class="px-6 py-4 text-sm text-gray-700">{{
                                        subscriptionEnumToString(subscription.type) }}</td>
                                    <td class="px-6 py-4 text-sm text-gray-700">{{ subscription.description }}</td>
                                    <td class="px-6 py-4 text-sm text-gray-700">{{ subscription.price | currency }}</td>
                                    <td class="px-6 py-4 text-sm text-gray-700 gap-2 flex">
                                        <button
                                            class="p-2 uppercase bg-orange-500 text-white text-sm rounded-lg font-bold">Editar</button>
                                        <button
                                            class="p-2 uppercase bg-red-500 text-white text-sm rounded-lg font-bold">Excluir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Subscription List -->
            <div class="rounded-lg bg-white p-6 shadow-md md:col-span-2">
                <h3 class="mb-4 text-xl font-semibold text-gray-800 uppercase">Lista de Assinaturas</h3>
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr class="bg-orange-50">
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Tipo</th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Descrição
                                </th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Preço</th>
                                <th class="px-6 py-3 text-left text-sm font-bold text-orange-500 uppercase">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr *ngFor="let subscription of subscriptions">
                                <td class="px-6 py-4 text-sm text-gray-700">{{
                                    subscriptionEnumToString(subscription.type) }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700">{{ subscription.description }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700">{{ subscription.price | currency }}</td>
                                <td class="px-6 py-4 text-sm text-gray-700">
                                    <button
                                        class="p-2 uppercase bg-orange-500 text-white text-sm rounded-lg font-bold">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<app-footer></app-footer>